<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-2-offset">
      <br>
        <h1 style="color: #FFAAFF;">『Bashroom(バッシュールーム）』とは</h1><%= image_tag "team3.PNG", :size => "660x260" %>
        <br>
        <div>
        <h5 style="color: #FFFF88;">『サイトテーマ』</h5>
        <h6>
          ★バスケットボールがもっと上手くなりたい人がバスケットシューズについて情報交換ができるコミュニティサイト<br>
          ★バッシュ（バスケットボールシューズ）+ルーム（部屋）という意味でマッシュルーム（キノコ）と発音が似ているため、キノコをキャラクターにしました。
        </h6>
      </div>
        <br>
        <div>
          <h5 style="color: #FFFF88;">『テーマを選んだ理由』</h5>
          <h6>
            ★自分はバスケットボールが好きでよくバスケットボールをしています。
            バスケットボールをする時一番試合・パフォーマンスに影響をするのはバスケットボールシューズです。
            バスケットボールシューズがパフォーマンスに大事な理由はプレーヤーのパフォーマンス向上に寄与します。そして怪我防止になります。
            通販サイトのレビューを参考に購入する方法もありますが、たくさんのバスケットボールシューズがある中で、自分に合うバスケットボールシューズを買う事は難しいです。
            そのため、気になっていたバスケットボールシューズのレビューを確認でき、他の人のレビューを参考したりバスケットシューズに対し色んな情報交換できると思い作成しました。
            <br>
          </h6>
        </div>
        <br>
        <div>
          <h5 style="color: #FFFF88;">『ターゲットユーザー』
          <h6>
            ★バスケットボールを好きな人
          </h6>
          <h6>
            ★靴が好きな人
          </h6>
          <h6>
            ★バスケットボールをもっと上手くなりたいと模索している人
          </h6>
          <h6>
            ★バスケットシューズを探している人
          </h6>
        </div>
        <br>
        <div>
          <h5 style="color: #FFFF88;">『主な利用シーン』</h5>
          <h6>
            ★バスケットボールのシューズを購入する時など
          </h6>
          <h6>
            ★バスケットボール好きな人
          </h6>
          <h6>
            ★バスケットボールをもっと上手くなりたいと模索している人
          </h6>
          <h6>
            ★バスケットボールのシューズの情報が欲しい人
          </h6>
        </div>
        <br>
        <div>
        <h5 style="color: #FFFF88;">『バスケットボールシューズの知識』</h5>
        <h6>
          ★トラクション<br>
          直訳すると、「引っ張る力」や「牽引力」です。バスケットボールではコートをグリップする性能です。
          基本良くグリップするほど高性能ですが、あまりに急ストップ過ぎたりするとマイナスすることもあります。
          自然な動きを妨げない止まり方が理想です。
        </h6>
        <h6>
         ★クッション<br>
         「衝撃吸収性」・「反発性」の両方を合わせて総合的に判断します。
         反発性はフォアフット(前足部)下のクッションの反応の良さです。押し込んだときにあまり沈まずエネルギーを返してくれるほど高性能になります。
         吸収性に関しても沈みが少なく、静かに衝撃を吸収してくれるほど高性能です。しかし、フカフカ過ぎるのは動きに悪い影響を与えます。
        </h6>
        <h6>
          ★フィット<br>
          「素材の質感」・「パディングの包み込み」・「シューレースのロックダウン」を合わせて足と一体感があるバッシュほど高性能です。
        </h6>
        <h6>
          ★サポート<br>
          足首の怪我を防止できるサポート性能です。
        </h6>
        <h6>
          ★ウェイト<br>
          バッシュの片足の重さです。軽いほど高性能になります。
        </h6>
      </div>
      <br>
      <h3>
        <%= link_to public_homes_top_path, class:"btn-b" do %>Top Page
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <% end %>
    </div>
  </div>
</div>