@use '~bootstrap/scss/bootstrap';

.review-path {
  text-decoration: none !important;
}
// 編集ボタン
.btn-a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFABCE;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: 1s all;
    text-decoration: none !important;
}


.btn-a svg {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 20px;
    fill: #353535;
    transition: .5s all;
    opacity: 0;
}

.btn-a span {
    color: #111111;
    text-align: center;
    z-index: 1;
}

.btn-a:hover span {
    animation: textAnime 1s linear forwards;
}

.btn-a:hover svg {
    animation: iconAnime 1s 0.7s linear forwards;
}

@keyframes textAnime {
    0% {
        transform: scaleX(1);
    }

    50% {
        font-weight: bold;
        transform: scaleX(1.3);
        opacity: 1;
    }

    100% {
        transform: scaleX(0.3);
        opacity: 0;
    }

}

@keyframes iconAnime {
    0% {
        opacity: 1;
    }

    25% {
        transform: rotate(-50deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-50deg);
    }

    100% {
        opacity: 1;
    }

}
// トップページの新規レビュー
.pic-container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.card {
    position: relative;
    cursor: pointer;
    width: 30%;
    height: 330px;
    padding: 1rem;
    box-sizing: border-box;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 0 10px #555;
    padding-top: 65px;
}

.card-front {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(80%);
    transform: rotateY(0deg);
}

.card-back {
    padding: 2rem 1rem;
    color: white;
    box-sizing: border-box;
    transform: rotateY(180deg);
    background-color: #353535;
}


.card:hover .card-front {
    transform: rotateY(-180deg);
}

.card:hover .card-back {
    transform: rotateY(0deg);
}


.card-title {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-description {
    margin: 1rem 0 4rem;
    line-height: 1.5;
}

.card-link {
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    transition: all .5s;
}

.card-link:hover {
    background-color: #fff;
    color: #333;
}
// ネオンボタン
.btn-b{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #FF99CC;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    text-decoration: none !important;
}

.btn-b:hover{
    background: #FF99CC;
    color: #050801;
    box-shadow: 0 0 5px #FF99CC,
                0 0 25px #FF99CC,
                0 0 50px #FF99CC,
                0 0 200px #FF99CC;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.btn-b:nth-child(1){
    filter: hue-rotate(270deg);
}
.btn-b:nth-child(2){
    filter: hue-rotate(110deg);
}
.btn-b span{
    position: absolute;
    display: block;
}
.btn-b span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#FF00FF);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.btn-b span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#FF00FF);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.btn-b span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#FF00FF);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.btn-b span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#FF00FF);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
// 削除ボタン
.btn-d {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #800000;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: 1s all;
    text-decoration: none !important;
}


.btn-d svg {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 20px;
    fill: #FFFFEE;
    transition: .5s all;
    opacity: 0;
}

.btn-d span {
    color: #FFFFEE;
    text-align: center;
    z-index: 1;
}

.btn-d:hover span {
    animation: textAnime 1s linear forwards;
}

.btn-d:hover svg {
    animation: iconAnime 1s 0.7s linear forwards;
}


// トップページのメイン写真
.topphoto {
    background-image: url("../images/top-photo.png");
}

.container-b {
    display: grid;
    place-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: var(--background-img);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.container-b::before {
    position: absolute;
    inset: 0;
    background: inherit;
    content: '';
    z-index: -1;
    animation: containerAnime 1.5s 1s forwards ease-in-out;
}

.box {
    display: grid;
    place-content: center;
    width: 400px;
    height: 200px;
    box-shadow: none;
    background-image: linear-gradient(rgba(0, 0, 0, .3) 0 100%), var(--background-img);
    background-position: center;
    background-size: cover;
    animation: boxAnime 1.5s 2s forwards ease-in;
    opacity: 0;
}

.box-title {
    margin: 0;
    color: #FFFF22;
    font-size: 22px;
    font-weight: bold;
    font-family: serif;
}

@keyframes boxAnime {
    to {
        box-shadow: 0px 0px 10px #545454;
        opacity: 1;
    }
}

@keyframes containerAnime {
    to {
        filter: brightness(.5) blur(2px);
    }
}

// スクロール
.box-scroll {
    width: 200px;
    height: 200px;
    background-color: #f9f9f9;
    color: #f9f9f9;
    overflow-y: scroll;
    font-size: 23px;
}

.box-scroll::-webkit-scrollbar {
    width: 15px;
}

.box-scroll::-webkit-scrollbar-track {
    background-color: #000;
    border: 3px solid #aaa;
}

.box-scroll::-webkit-scrollbar-thumb {
    background-image: linear-gradient(135deg, #F6D242 10%, #FF52E5 100%);
}

// Topに戻る
#pagetop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    margin: 0;
    
}
#pagetop a{
    position: relative;
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    background: lightpink;/*背景の色を変える*/
    transition: opacity .6s ease;
    color: #FFFFFF;/*アイコンの色を変える*/
    align-items: center;
    text-decoration: none;
    font-size: 32px;
    border-radius: 100%;
}
#pagetop a:hover {
    opacity: .3;
}
@media screen and (max-width:767px) {
#pagetop a {
    width: 50px;
    height: 50px;
}
}