
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%#= render 'users/userinfo', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Shoes Review</h2>
      <table class="table">
        <thead>
          <th colspan="1"></th>
          <th>Title</th>
          <th>Opinion</th>
        </thead>
        <tbody>
     <% @shoes_reviews.each do |shoes_review| %>
       <tr>
         <td><%= shoes_review.user  %>
           <%= image_tag shoes_review.user.get_profile_image(100,100), class: "rounded-circle" %> > </td>
         <td><%= link_to shoes_review_path(shoes_review.id) do %> <%= shoes_review.title  %> <% end %></td>
         <td><%#= book.body %></td>
         <td id="favorite_buttons_<%#= book.id %>"><%#= render "favorites/favorite", book: book %>
　　     </td>
         <td>
           <p>コメント件数：<%#= book.book_comments.count %></p>
         </td>
         <td><td>閲覧数: <%#= book.view_counts.count %></td></td>

       </tr>
     <% end %>
       </tbody>

     </table>
    </div>
  </div>
</div>

