<footer>
  <div style="background-color: black;">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="text-center"><%= image_tag "team.PNG", :size => "330x130" %></p>
          <p class="text-center">★ Bashroom
          <%= link_to admin_homes_top_path, class:"no-decoration" do %>
          ★<% end %></p>
        </div>
      </div>
    </div>
  </div>
</footer>