<footer>
  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="text-center"><%= image_tag "team3.PNG", :size => "335x130" %></p>
          <p class="text-center">★ Bashroom ★</p>
        </div>
      </div>
    </div>
  </div>
</footer>